.sketchfab-embed-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh; /* Altera conforme o espaço desejado */
}
