body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.6);
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    padding: 10px;
    border-radius: 10px;
}
.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 50px auto;
    max-width: 1200px;
}
.custom-button, .custom1-button, .custom2-button, .custom3-button, .trailer-button, .quiz-button, .forms-button, .Shibuya-button, .video-button, .homenagem-button {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s, box-shadow 0.2s;
    transform: scale(1.1);
    box-sizing: border-box;
}
.custom-button {
    background-image: url('gojo');
}
.custom1-button {
    background-image: url('sukuna.jpg');
}
.custom2-button {
    background-image: url('kenjaku.jpg');
}
.custom3-button {
    background-image: url('toji.jpeg');
}
.trailer-button {
    background-image: url('trailer.webp');
}
.forms-button {
    background-image: url('forms.jpg');
    width: 300px;
    height: 300px;
}
.Shibuya-button {
    background-image: url('shibuya.webp');
}
.video-button {
    background-image: url('video.jpg');
}
.homenagem-button {
    background-image: url('gojomemory2.png');
}